* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue', cursive;
  background-color: rgb(91, 173, 194);;
}

.todo {
  width: 450px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(62, 198, 228);
}

.todo_title,
.todo_input,
.task-item,
.todo_button,
p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid lightgray;
  list-style: none;
  background-color: rgb(62, 198, 228);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid lightgray;
  list-style: none;
  background-color: rgb(243, 243, 243);
  width: 100%;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  align-content: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid lightgray;
  list-style: none;
}

#new-task-input,
.todo_clear {
  border: none;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  border: 0.8px solid white;
  background-color: rgb(62, 198, 228);
}

li {
  list-style: none;
}

.removeBtn,
.saveBtn {
  width: 40px;
  border: none;
}

.taskText {
  width: 70%;
}

input {
  border: none;
  background: none;
  outline: none;
}

.hidden {
  display: none;
}
